.main
  .header
    %ul.group-info
      %li.group-info__name
        = @group.name
      %li.group-info__menber
        - @group.group_users.each do |group_users|
          = group_users.user.name
    .header__btn
      = link_to edit_group_path(@group), class: "header__btn__edit" do
        Edit 
  .list
    .list__name
      -@messages.each do |message|
        = message.content
      .list__name__day
        -@messages.each do |message|
          = message.created_at
    .list__message
      -@messages.each do |message|
        = message.content
      
  .form
    = form_for [@group, @message]  do |f|
      .form__messages
        .div
          = f.text_field :content, class: 'message',placeholder: 'type a message'
          = f.label :image, class: "img-icon" do
            = icon('fas', 'image')
            =f.file_field :image
        = f.submit 'Send', class: 'send-btn'