.main
  .header
    %ul.group-info
      %li.group-info__name
        = @group.name
      %li.group-info__menber
        - @group.group_users.each do |group_users|
          = group_users.user.name
    .header__btn
      = link_to edit_group_path(@group), class: "header__btn__edit" do
        Edit 
  .list
    - @messages.each do |message|
      .list__group{data: {message: {id: message.id}}}
        .list__group__name
          = message.user.name
          .list__group__name__day
            = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .list__group__message
          - if message.content.present?
            = message.content
            %br 
          = image_tag message.image.url, class: 'list__group__message__image' if message.image.present?
      
  .form
    = form_for [@group, @message]  do |f|
      .form__messages
        .div
          = f.text_field :content, class: 'message',placeholder: 'type a message'
          = f.label :image, class: "img-icon" do
            = icon('fas', 'image')
            =f.file_field :image
        = f.submit 'Send', class: 'send-btn'