.side-bar
  .side-header
    .name
      = current_user.name
    .top-items-icons
      = link_to new_group_path, class: "top-items-icon" do
        = icon('fas', 'edit')
      = link_to edit_user_path(current_user), class: "top-items-icon" do
        = icon('fas', 'cogs')      
  .group-lists
    .group
      .group__name
        -current_user.groups.each do |group|
          = link_to '#' do 
            = group.name
      .group__message
        メッセージはまだありません。